body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* padding: 5px 5px; */
  background-color: #334055;
}

#dashboardHeader {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: yellowgreen;
  font-size: 1.2rem;
  border: 3px solid rgb(33, 34, 36);
  box-sizing: border-box;
  background-color: rgba(16, 7, 58, 0.575);
}

#headerTitle {
  padding-left: 10px;
}

#mainWrapper {
  margin: 5px 0;
  /* display: flex;
    justify-content: center;
    align-items:center; */
}
#mainWrapperContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#leftColumnWrapper {
  width: 16%;
}
#rightColumnWrapper {
  display: flex;
  /* margin-left: 15px; */
  flex-direction: column;
}

#globalCasesTitle {
  margin: 5px 0;
  text-align: center;
  color: yellowgreen;
}
#search {
  width: 95%;
  margin: 3px 0;
}
/* #grid {
    display: grid;

    width: 100%;
    height: 100%;
    grid-template:  
                    "cases map map map map map map map" auto
                    "country map map map map map map map" auto
                    "country map map map map map map map" auto
                    "country map map map map map map map" auto
                    "country table table table graphic graphic graphic graphic" auto; */
/* "cases map map map map map table table" 80px
                    "country map map map map map table table" auto
                    "country map map map map map table table" auto
                    "country map map map map map graphic graphic" auto
                    "country map map map map map graphic graphic" auto
                        / 200px; */
  /* } */
  
  #globalCases{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: cases;
    border: 2px solid rgb(33, 34, 36);
    box-sizing:border-box;
    margin-bottom: 10px;
    background-color: rgba(16, 7, 58, 0.575);
    position: relative;
  }

  #globalCases:hover .button__maximaze {
    display: flex;
  }
  
  #countrysColumn{
    /* grid-area: country; */
    border: 2px solid rgb(108, 149, 231);
    box-sizing:border-box;
    position: relative;
  }

  #countrysColumn:hover .button__maximaze {
    display: flex;
  }
  
  #countrysColumn > div > div > ul > li:first-child{
    display: none;
  }
  
  #countrysTable {
    border-collapse: collapse;
    box-sizing:border-box;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  #countrysTable li:hover{
    background-color: rgb(247, 168, 140);
    cursor: pointer;
  }
  
  #countrysTableWrapper{
    overflow-y: auto;    
    overflow-x: hidden;
    height: 60vh;
  }
  
  /* #countrysTable tbody {
>>>>>>> 2ab3df6 (feat: add fullScreen mode)
   display: block;      
   overflow-y: auto;    
   overflow-x: hidden;
   height: 400px;  
  } */
#countrysTable tbody td {
  text-align: left;
  padding: 12px;
}

#countrysTable tbody tr {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
}

#countrysTable tr:hover {
  background-color: #f1f1f1;
}

#countrySwitch,
#tableSwitch,
#mapSwitch,
#tableSwitchDay,
#tableSwitchValues {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(162, 206, 74);
}
#mapSwitch {
  width: 40%;
}
#countrySwitch {
  width: 98%;
}
#tableSwitch,
#tableSwitchDay {
  margin: 0 2rem;
}
#countrySelector,
#tableSelector {
  padding: 0 5px;
  text-align: center;
  font-size: 0.8rem;
}

#mapWrapper {
  /* grid-area: map; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #444666;
  padding: 0;
  margin: 0;
  border: 2px solid rgb(33, 34, 36);
  box-sizing: border-box;
  margin: 0 3px;
  position: relative;
}

  #mapWrapper:hover .button__maximaze {
    display: flex;
  }
  
  #tableWrapper{
    /* grid-area: table; */
    border: 2px solid rgb(33, 34, 36);
    box-sizing:border-box;
    /* margin-bottom: 10px; */
    /* height: 45%; */
    display: flex;
    flex-direction: column;
    height: 40vh;
    position: relative;
  }

  #tableWrapper:hover .button__maximaze {
    display: flex;
  }
  
  #casesTableWrapper > table > tbody > tr > td {
    text-align: center;
    position: sticky;
    background: rgb(234, 255, 185);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10%;
  }
  #casesTable td div{
    padding: 4px 0;
  }
  #casesTable td{
    color: rgb(0, 45, 51);
    width: 32%;
  }
  #graphiсWrapper{
    /* grid-area: graphic; */
    margin-top: 0.2rem;
    border: 2px solid rgb(33, 34, 36);
    box-sizing:border-box;
    /* height: 200px; */
    /* height: 60%; */
    background-color: rgba(16, 7, 58, 0.575);
    position: relative;

  }

  #graphiсWrapper:hover .button__maximaze {
    display: flex;
  }
  
  
  #footer {
    height: 7vh;
    background-color: rgb(39, 6, 82);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #yearId{
    color: white;
  }
  
  .flag-img{
    width: 30px;
    }
  li{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  .active{
    background: rgb(165, 235, 100);
  }
  h2{
    margin: 0;
    padding: 0;
  }
  /* h1, .h1, h2, .h2, h3, .h3 {
>>>>>>> 2ab3df6 (feat: add fullScreen mode)
    margin-top: 20px; 
    margin-bottom: 10px;
  } */
#casesTableWrapperImg {
  width: 100px;
}

/* #mapWrapper :first-child{
     width: 100%;
     max-width: 100%;
     margin: 0 auto;
     box-shadow: 2px 3px 18px -17px rgba(0, 0, 0, 1);
     margin-bottom: 2rem; 
   } */

/* #mapWrapper rect{
  
} */
button {
  background-color: #fff;
  border-radius: 20%;
  box-sizing: border-box;
}
button :hover {
  background-color: red;
}
ul,
li {
  padding: 0;
  margin: 0;
  background-color: rgba(228, 247, 255, 0.575);
}
#countrysTable li {
  border-bottom: solid 1px black;
  box-sizing: border-box;
}
#globalCasesCount {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(247, 74, 74);
}

/* #mainWrapperContainer{
  flex-wrap: wrap;
} */
#tableSwitchCases {
  display: flex;
  justify-content: space-around;
  color: rgb(255, 242, 255);
}
#countryFlag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0;
  height: 40%;
  width: 100%;
  color: yellowgreen;
  font-size: 1.3rem;
}
#countryFlag img {
  margin: 0 10px;
}
#casesTable {
  width: 100%;
}
#tableSwitchDayContain,
#tableSwitchContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 12px;
  text-align: center;
}
#tableSwitchValues,
#tableSwitchDay {
  margin: 7px 0;
}
#globalCasesTable,
#globalRecoveredTable,
#globalDeathTable {
  color: rgb(150, 1, 100);
}
h2 {
  font-size: 1.6rem;
}
#mapWrapper {
  width: 700px;
  height: 480px;
}
#mapWrapperTogle {
  width: 680px;
  height: 470px;
}
#tableWrapper {
  display: flex;
  justify-content: space-between;
}
#casesTableWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer a{
  padding: 0 10px;
  text-decoration:none;
  color: rgb(116, 83, 245);
}

#footer a:hover{
  color:chartreuse;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.fullWidth {
  position: absolute!important;
  z-index: 999;
  top: 70px;
  left: 2%;
  width: 96%!important;
  height: 80%;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none!important;
}
.button__maximaze {
  display: none;
  justify-content: center;
  align-items: center;
position: absolute;
top: -13px;
right: -10px;
z-index: 10;
transition: all .2s ease-in-out;
}
.button__maximaze:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(12, 199, 224, 0.842);
  outline: none;
  border: none;
}
.button__maximaze-circle {
  outline: none;
  width: 18px; 
  height: 18px; 
  border-radius: 15px; 
  text-align: center; 
}
.button__maximaze-circle {
  outline: none;
  border: none;
}
.page-wrapper {
  position: relative;
  min-height: 100vh;
  opacity: 1;
}
@keyframes glowing {
  0% { box-shadow: 0 0 -10px rgba(12, 129, 224, 0.842); }
  40% { box-shadow: 0 0 20px rgba(12, 129, 224, 0.842); }
  60% { box-shadow: 0 0 20pxrgba(12, 129, 224, 0.842); }
  100% { box-shadow: 0 0 -10px rgba(12, 129, 224, 0.842); }
}

.box-shadow:hover {
  animation: glowing 5000ms infinite;
  transition: opacity 0.3s ease-in-out;
}

@media  screen and (max-width: 1400px) {
  #mapWrapper{
    width: 530px;
    height: 440px;
  }
  #mapWrapperTogle {
    width: 510px;
    height: 420px;
  }
}
@media screen and (max-width: 1200px) {
  #mapWrapper {
    width: 430px;
    height: 420px;
  }
  #mapWrapperTogle {
    width: 400px;
    height: 400px;
  }
  #leftColumnWrapper {
    width: 12%;
  }
}
@media screen and (max-width: 1000px) {
  #leftColumnWrapper {
    width: 20%;
  }
  #mapWrapper {
    width: 480px;
    height: 420px;
  }
  #mapWrapperTogle {
    width: 470px;
    height: 400px;
  }
}
@media screen and (max-width: 760px) {
  #leftColumnWrapper {
    width: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .page-wrapper{
    padding: 10px;
  }
  #leftColumnWrapper {
    width: 100%;
    text-align: center;
    /* padding: 0 10px; */
  }
  #centerColumnWrapper{
    /* width: 90%; */
    /* padding: 0 10px; */
  }
  #rightColumnWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #tableWrapper{
    width: 100%;
  }
}
